USE [master]
GO
/****** Object:  Database [ElTest]    Script Date: 25/08/2023 09:44:01 ******/
CREATE DATABASE [ElTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ElTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ElTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElTest]
GO
/****** Object:  Table [dbo].[ApartUsage]    Script Date: 25/08/2023 09:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApartUsage](
	[AID] [int] NOT NULL,
	[FromTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[PowerUsed] [float] NULL,
	[CID] [int] NOT NULL,
	[MID] [int] NOT NULL,
 CONSTRAINT [PK_ApartUsage] PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlockUsage]    Script Date: 25/08/2023 09:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockUsage](
	[BID] [int] NOT NULL,
	[FromTime] [datetime] NOT NULL,
	[ToTime] [datetime] NOT NULL,
	[PowerUsed] [float] NOT NULL,
	[PowerGenerated] [float] NOT NULL,
	[AID] [int] NOT NULL,
	[CID] [int] NOT NULL,
 CONSTRAINT [PK_BlockUsage] PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommunityUsage]    Script Date: 25/08/2023 09:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunityUsage](
	[CID] [int] NOT NULL,
	[FromTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[PowerUsed] [float] NULL,
	[PowerGenerated] [float] NULL,
 CONSTRAINT [PK_CommunityUsage] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MålerData]    Script Date: 25/08/2023 09:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MålerData](
	[MeterId] [int] NOT NULL,
	[PowerUsed] [float] NULL,
	[PowerGenerated] [float] NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[MeterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measure]    Script Date: 25/08/2023 09:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measure](
	[MID] [int] NOT NULL,
	[PowerUsed] [float] NULL,
	[PowerGenerated] [float] NULL,
	[CID] [int] NOT NULL,
	[AID] [int] NOT NULL,
 CONSTRAINT [PK_Measure] PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/08/2023 09:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UID] [int] NOT NULL,
	[UserName] [nvarchar](1) NOT NULL,
	[Password] [nvarchar](1) NOT NULL,
	[CID] [int] NOT NULL,
	[AID] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApartUsage]  WITH CHECK ADD  CONSTRAINT [FK_CommunityUsage_ApartUsage] FOREIGN KEY([CID])
REFERENCES [dbo].[CommunityUsage] ([CID])
GO
ALTER TABLE [dbo].[ApartUsage] CHECK CONSTRAINT [FK_CommunityUsage_ApartUsage]
GO
ALTER TABLE [dbo].[ApartUsage]  WITH CHECK ADD  CONSTRAINT [FK_MMeassurements_ApartUsage] FOREIGN KEY([MID])
REFERENCES [dbo].[Measure] ([MID])
GO
ALTER TABLE [dbo].[ApartUsage] CHECK CONSTRAINT [FK_MMeassurements_ApartUsage]
GO
ALTER TABLE [dbo].[BlockUsage]  WITH CHECK ADD  CONSTRAINT [FK_BlockUsage_ApartUsage] FOREIGN KEY([AID])
REFERENCES [dbo].[ApartUsage] ([AID])
GO
ALTER TABLE [dbo].[BlockUsage] CHECK CONSTRAINT [FK_BlockUsage_ApartUsage]
GO
ALTER TABLE [dbo].[BlockUsage]  WITH CHECK ADD  CONSTRAINT [FK_BlockUsage_CommunityUsage] FOREIGN KEY([CID])
REFERENCES [dbo].[CommunityUsage] ([CID])
GO
ALTER TABLE [dbo].[BlockUsage] CHECK CONSTRAINT [FK_BlockUsage_CommunityUsage]
GO
ALTER TABLE [dbo].[Measure]  WITH CHECK ADD  CONSTRAINT [FK_Measure_ApartUsage] FOREIGN KEY([AID])
REFERENCES [dbo].[ApartUsage] ([AID])
GO
ALTER TABLE [dbo].[Measure] CHECK CONSTRAINT [FK_Measure_ApartUsage]
GO
ALTER TABLE [dbo].[Measure]  WITH CHECK ADD  CONSTRAINT [FK_Measure_CommunityUsage] FOREIGN KEY([CID])
REFERENCES [dbo].[CommunityUsage] ([CID])
GO
ALTER TABLE [dbo].[Measure] CHECK CONSTRAINT [FK_Measure_CommunityUsage]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_ApartUsage] FOREIGN KEY([AID])
REFERENCES [dbo].[ApartUsage] ([AID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_ApartUsage]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_CommunityUsage] FOREIGN KEY([CID])
REFERENCES [dbo].[CommunityUsage] ([CID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_CommunityUsage]
GO
USE [master]
GO
